<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<app-body
[collapsed]="isSideNavCollapsed"
[screenWidth]="screenWidth"
></app-body>
<app-dashboard></app-dashboard>

<!-- <div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
</div> -->
