<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h1>Sistema de inventario</h1>

        <a class="btn btn-light btn-sm me-3"  [routerLink]="['/guardar-producto']"> Guardar Producto</a>
        <td><a class="btn btn-dark btn-sm me-3" [routerLink]="['/detalles']">Detalles</a></td>


    </div>
    <br>
    <table class="table table-bordered"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of data">
                <th scope="row">{{producto.id}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}}</td>
            
                <td><a class="btn btn-secondary btn-sm me-3" [routerLink]="['/guardar-movimientos/',producto.id]">Movimiento Inventario</a></td>
            
            </tr>
        </tbody>
    </table>
</div>
    
</body>
</html>